Package: amarok
Version: VERSION_FILL
Section: music
Priority: optional
Architecture: amd64
Homepage: http://amarok.kde.org
Depends: libqt5core5a (>= 5.8.0),
        libqt5dbus5 (>= 5.8.0),
        libqt5gui5 (>= 5.8.0),
        libqt5quickwidgets5 (>= 5.8.0),
        libqt5qml5 (>= 5.8.0),
        libqt5script5 (>= 5.8.0),
        libqt5scripttools5 (>= 5.8.0),
        libqt5sql5-mysql (>= 5.8.0),
        libqt5svg5 (>= 5.8.0),
        libqt5test5 (>= 5.8.0),
        libqt5widgets5 (>= 5.8.0),
        libqt5xml5 (>= 5.8.0),
        libqt5webengine5 (>= 5.8.0),
        libqt5webengine5 (>= 5.8.0),
        libqt5quickcontrols2-5 (>= 5.8.0),
        libkf5archive5 (>= 5.41.0),
        libkf5attica5 (>= 5.41.0),
        libkf5codecs5 (>= 5.41.0),
        libkf5configcore5 (>= 5.41.0),
        libkf5configwidgets5 (>= 5.41.0),
        libkf5coreaddons5 (>= 5.41.0),
        libkf5crash5 (>= 5.41.0),
        libkf5dbusaddons5 (>= 5.41.0),
        libkf5declarative5 (>= 5.41.0),
        libkf5dnssd5 (>= 5.41.0),
        libkf5globalaccel5 (>= 5.41.0),
        libkf5guiaddons5 (>= 5.41.0),
        libkf5i18n5 (>= 5.41.0),
        libkf5iconthemes5 (>= 5.41.0),
        libkf5kcmutils5 (>= 5.41.0),
        libkf5kiocore5 (>= 5.41.0),
        libkf5newstuff5 (>= 5.41.0),
        libkf5notifications5 (>= 5.41.0),
        libkf5notifyconfig5 (>= 5.41.0),
        libkf5package5 (>= 5.41.0),
        libkf5solid5 (>= 5.41.0),
        libkf5texteditor5 (>= 5.41.0),
        libkf5threadweaver5 (>= 5.41.0),
        libkf5widgetsaddons5 (>= 5.41.0),
        libkf5windowsystem5 (>= 5.41.0),
        libkf5kirigami2-5 (>= 5.41.0),
        libkf5kirigami2-5 (>= 5.41.0),
        libkf5kiofilewidgets5 (>= 5.41.0),
        libphonon4qt5-4 (>= 4.6.60),
        ffmpeg (>= 3.3.0),
        libtag1v5,
        libtag-extras1,
        zlib1g,
        libmtp9,
        libfftw3-double3,
        libofa0,
        libgpod4,
        libgcrypt20,
        libloudmouth1-0,
        python3.8-minimal,
        libavformat58,
        libmariadbd19,
        liblastfm5-1
Maintainer: Simon <hello@example.com>
Description: Amarok master build from https://github.com/KDE/amarok/
